/* Estilo del nav */
.header {
	background-color:$color-fondo;
	color: $color-negro;
	opacity: $opacidad-normal;
	width: 100%;
	margin: 0;
	border: 0;
	li {
		display: inline;
	}
}
.inicio-uno {
	text-align: center;
}
.inicio {
	text-decoration: none;
	color: $color-negro;
	font-size: $tamano-fuente-grande;
	padding-left: 9px;
}

  
  