
$color-fondo: antiquewhite;
$color-texto: black;
$tamano-boton: 90px;

.cuadro-auto {
  background-color: bisque;
  opacity: 0.9;
  color: $color-texto;

  .boton-uno {
    color: $color-texto;
    background-color: green;
    border: none;
    width: $tamano-boton;
    height: $tamano-boton;
    
  }
}


