/*estilo del nav*/

.header {
  background-color: antiquewhite;
  opacity: 70%;
  width: 100%;
  margin: 0px;
  border: 0px;
}

li {
  display: inline;
}

.inicio-uno {
  text-align: center;
}

.inicio {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-left: 9px;
}

/*fondo del index*/

.body-uno {
  background-image: url(https://i.pinimg.com/564x/a1/7d/78/a17d78b0c6ede6bb4b546da674a19f12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*estilo de la pagina "venta*/

.titulo-igual {
  text-align: center;
  background-color: antiquewhite;
  opacity: 60%;
  margin: 0%;
  color: black;
}
/*lo hice de esta manera porque no habiamos visto flexbox, no me quise adelantar diseñando*/

/*foto y texto descriptivo de los autos*/

.container{
  width: 100%;
}
.item{
  clear: both;
  margin-bottom: 15px;
}

.img{
  float: left;
  margin-right: 15px;
  max-width: 100%;
}

.text-uno{
  color: black;
  font-size: 15px;
  background-color: bisque;

}

.container-flex{
  display: flex;
  flex-wrap: wrap;
}

.item-uno{
  width: 50%;
  float: right;
  box-sizing: border-box;
  padding-right: 10px;
}
.img-uno{
  width: 100%;
  display: block;  
  margin-top: 30px;
  }

.text-dos{
  color:black;
  font-size: 15px;
  text-align: center;
  background-color: bisque;

}
.img-dos{
  width: 90%;
  display: block;
  height: 700px;
  margin-left: 50px;
}
.text-cuatro{
  color: black;
  background-color: bisque;
  
}
.container-dos{
display: flex;
flex-direction:row;
}
.text-cinco {
background-color: bisque;
text-align: center;
}

.titulo-dos{
  text-align: center;
  margin-top: 100px;
 margin-right: 40%;
}
/*cuadro para buscar auto*/

.cuadro-auto{
  width: 100%;
  display: inline-block;
  color:black;
  vertical-align: middle;
  background-color: bisque;
  opacity: 90%;
  
}
.estado-auto{
  text-align: center;

}
.elegi-auto{
  text-align: center;
}
/*mismo h2 para todas las paginas*/
h2{
  color: black;
  text-align: center;
  background-color: bisque;
  opacity: 70%;
}
.vende{
  color: black;
  margin-top: 20px;
}
.vende-uno{
color: black;
text-align: center;
}
.vendo{
  color: black;
  background-color: antiquewhite;
  opacity: 70%;
  text-align: center;
}

.titulo-venta{
  background-color: bisque;
  opacity: 70%;
}

/*mismo footer para todas las paginas*/

.footer {
  background-color: #f2f2f2;
  opacity: 70%;
  padding: 20px;
  text-align: center;
}

.footer-items {
  justify-content: center;
  align-items: center;
}

.footer-items img.logo {
  width: 80px;
  height: 70px;
  
}

.footer-items ul.lista-uno {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-items li.lista-dos {
  display: inline-block;
  margin: 5px;
}

.footer-items a {
  text-decoration: none;
  color: black;
}

.footer-items a:hover {
  text-decoration: underline;
}

/*fondo de todas las paginas*/
.body-dos{
  background-image: url(/multimedia/fondo-textura-piedra-granulada-negra-o-fondo-textura-gris-oscuro_553949-1347.avif);
  background-size: auto 25%;  
}
/*fondo de todas las paginas*/

/*fondo para la pag de "modelos unicos"*/
.body-tres{
  background-image: url(/multimedia/fondo-textura-piedra-granulada-negra-o-fondo-textura-gris-oscuro_553949-1347.jpg);
  background-size: auto 15%;  
}



/*imagenes de alquiler*/

.carousel-uno{
  width: 80%;
  height: 400px;
  padding-left: 20%;
}

.carousel-dos{
  width: 500px;
  height: 400px;
  padding-left: 200px;
  padding-right: 30px;
}
/* caja para alquilar auto*/

.donde-estas{
  background-color: burlywood;
  opacity: 90%;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.boton-uno{
  color:black;
  background-color: green;
  border: none;
  width: 90px;
  height: 30px;
}

/*ventajas*/

.ventajas{
  background-color: burlywood;
}
.respuestas{
  background-color: burlywood;
}

/*FAQs*/
.faq-container {
  max-width: 600px; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto; /* Centra el cuadro en la página */
}

.faq-item {
  margin-bottom: 20px;
}

.question {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer; /* Cambia el cursor al pasar sobre la pregunta */
}

.answer {
  padding: 10px;
  background-color: #f5f5f5;
}




/*tamaño de las img*/

.foto-nosotros{
  width: 500px;
  height: 400px;
}

.nosotros-uno{
  width: 300px;
  height: 200px;
}
.nosotros-dos{
  height: 200px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}



/*estilo para la pag "sobre nosotros"*/

.quienes-somos{
  color: black;
  background-color: bisque;
  opacity: 70%;
}
h3{
  background-color: bisque;
  text-align: center;
  opacity: 70%;
}
.valores-dos{
  height: 170px;
  width: 270px;
}


/*cuadro de datos para ser parte del staff*/

.datos{
  display: block;
  background-color: bisque;
  opacity: 70%;
  margin-bottom: 20px;
  text-align: center;
}
.datos-uno{
  margin-top: 20px;
}
.por-que{
display: block;
padding-top: 20px;
}

h4{
  text-align: center;
  background-color: bisque;
  opacity: 70%;
}

/*estilo de la pag "modelos unicos"*/

.modelos-unicos{
  margin-bottom: 50px;
}
.autos-unicos{
  color: black;
  background-color: bisque;
  opacity: 80%;
  height: 30px;
  text-align: center;
  font-size: 25px;
}

/*auto mustang eleanor*/
.autos-unicos{
  margin-top: 20px;
  margin-bottom: 15px;
}

.foto{
  width: 400px;
  height: 240px;
  margin-top: 10px;
  padding-left: 15px;
}

.parrafo-unico{
  margin-top: 10px;
  background-color: burlywood;
  opacity: 80%;
}

/*auto jaguar*/
.jaguar-grid{
  width: 100%;
  height: 100%;
  display: grid;
  align-content:center;
}

/*aston*/
.titulo-modelo{
  margin-top: 20px;
}


/*evolucion del miura*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-row, .bottom-row {
  display: flex;
  justify-content: center;
}

.image-with-text {
  text-align: center;
  padding: 10px;
  }

.text {
  margin-top: 10px;
  background-color: burlywood;
  opacity: 70%;
}

.img-flex{
  width: 300px;
  height: 200px;
}

/*seccion de subasta*/

.carousel-img{
  width: 100%;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}







